<!DOCTYPE html>
<html>
    <head>
        <title>My portfolio homepage</title>
        <link rel="stylesheet" href="portfolio.css">
    </head>
    <body> 
        <div class="Side_by_side"   id="Side_Bar">
            <nav >
                <ul>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Home</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">About</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">GitHub </a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Future Projects</a></li>
                    <li><a href="http://" target="_blank" rel="noopener noreferrer">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="Side_by_side" id="Main_body">
            <p>Welcome to the portfolio</p>
        </div>
    </body>
</html>