<!DOCTYPE html>
<html>
    <head>
        <title>My portfolio homepage</title>
        <link rel="stylesheet" href="portfolio.css">
    </head>
    <body> 
        <nav id="Top_Navigation_bar">
            <ul>
                <li><a href="Portfolio.html">Home</a></li>
                <li><a href="Skills.html">Curriculum Vitae</a></li>
                <li><a href="Forms/contact_form.html">Contact</a></li>
                <li><a href="https://github.com/JHawi13">My GitHub</a></li>
            </ul>
        </nav>
        <div id="Main">
            <div id="Welcome_portal">
                <p>Welcome to my portfolio.Get to know me</p>
                <h1>My Name's Joel Hawi</h1>
            </div>
            <div id="The_Grid">
                <div class="The_Grid_Items" id="GridItem1">
                    <h1>Education</h1>
                    <p>
                        Highest level of Education-Secondary Education
                        Other forms of education aside from basic education include Esotericism,Alchemy and Computer literacy.
                    </p>
                    <a href="http://" target="_blank" rel="noopener noreferrer"></a>
                </div>
                <div class="The_Grid_Items" id="GridItem2">
                    <h1>Philosophy</h1>
                    <p>
                        Some may call me Machiavellian but I prefer to call it realism.
                        Born and bred with idls such as Musashi Miyamoto and Napoleon Bonaparte, I can guarantee a perfectly sensible work ethic
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>