<!DOCTYPE html>
<html>
    <head>
        <title>My portfolio homepage</title>
        <link rel="stylesheet" href="portfolio.css">
    </head>
    <body> 
        <nav id="Top_Navigation_bar">
            <ul>
                <li><a href="Portfolio.html">Home</a></li>
                <li><a href="">Experience/Skills</a></li>
                <li><a href="Forms/contact_form.html">Contact</a></li>
                <li><a href="https://github.com/JHawi13">My GitHub</a></li>
            </ul>
        </nav>
        <div id="Main">
            <div id="Welcome_portal">
                <p>Welcome to my portfolio.Get to know me</p>
            </div>
            <div id="The_Grid">
                <div class="The_Grid_Items" id="GridItem1">
                    <h1>Ice Nine Kills</h1>
                    <p>Their Early work was a little bit too "Scene" for me</p>
                </div>
                <div class="The_Grid_Items" id="GridItem2">
                    <h1>Zeal and ardor</h1>
                    <p>When your creativity has been fueled by hell this is what you get</p>
                </div>
            </div>
        </div>
    </body>
</html>