<!DOCTYPE html>
<html>
    <head>
        <title>contact page</title>
        <link rel="stylesheet" href="contact_form.css">
    </head>
    <div id="Container">
        <h1>Enter details and message</h1>
        <div id="Name">
            <h2>Name</h2>
            <input type="text" placeholder="Enter your name">
        </div>
        <div id="Email_Address">
            <h2>Email Address</h2>
            <input type="text" placeholder="Enter your Email Address">
        </div>
        <div id="Message">
            <h2>Message</h2>
            <input type="text" placeholder="Enter your message">
        </div>
        <button>Send</button>
    </div>
</html>